@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Common */
  .darkmode-main {
    @apply bg-lightBg dark:bg-darkBg text-darkText dark:text-lightText;
  }

  .darkmode-section {
    @apply bg-lightAccBg dark:bg-darkAccBg opacity-50 dark:opacity-100;
  }

  /* Header */
  .dropdown-item-title {
    @apply text-base font-medium;
  }

  .dropdown-item-text {
    @apply text-sm font-inter font-normal;
  }

  .dropdown-container {
    @apply bg-gray-900 hover:bg-gray-800 border border-gray-400;
  }

  .light-icon-hover {
    filter: invert(87%) sepia(33%) saturate(418%) hue-rotate(103deg)
      brightness(103%) contrast(93%);
  }

  .dark-icon-hover {
    filter: invert(42%) sepia(67%) saturate(3977%) hue-rotate(247deg)
      brightness(100%) contrast(94%);
  }

  /* Not working - need svg fix */
  .darkmode-icon {
    @apply hover:fill-purple-500 dark:hover:fill-green-200 fill-red-500;
  }

  /* Home */
  .home-h1 {
    @apply text-5xl;
  }

  .home-h3-primary {
    @apply text-3xl font-bold;
  }

  .home-h3-secondary {
    @apply text-3xl font-medium;
  }

  .home-h4 {
    @apply text-2xl font-medium;
  }

  .home-h5 {
    @apply text-base font-bold;
  }

  .home-body {
    @apply font-inter text-base font-normal;
  }

  /* Home - Header Section */
  .discord-btn {
    @apply bg-discordLight dark:bg-discordDark text-lightText dark:text-darkText;
  }

  .footer-page-link {
    @apply text-xl font-inter font-normal /* hover: what color for underline? */;
  }

  .footer-global-link {
    @apply text-sm font-inter font-normal;
  }
}

/* @media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Birzia', sans-serif;
  }
  h2 {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Birzia', sans-serif;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Birzia', sans-serif;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
} */
