@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .darkmode-main {
    @apply bg-lightBg dark:bg-darkBg text-darkText dark:text-lightText;
  }

  .darkmode-section {
    @apply bg-lightAccBg dark:bg-darkAccBg;
  }

  .discord-btn {
    @apply bg-discordLight dark:bg-discordDark text-lightText dark:text-darkText;
  }

  /* Home */
  .logo-cover {
    @apply relative w-7 h-7 cursor-pointer;
  }
}

/* @media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Birzia', sans-serif;
  }
  h2 {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Birzia', sans-serif;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Birzia', sans-serif;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
} */
