@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Common */
  .darkmode-main {
    @apply bg-lightBg dark:bg-darkBg text-darkText dark:text-lightText;
  }
  .darkmode-section {
    @apply bg-lightAccBg dark:bg-darkAccBg opacity-50 dark:opacity-100;
  }
  .light-icon-hover {
    filter: invert(87%) sepia(33%) saturate(418%) hue-rotate(103deg)
      brightness(103%) contrast(93%);
  }

  .dark-icon-hover {
    filter: invert(42%) sepia(67%) saturate(3977%) hue-rotate(247deg)
      brightness(100%) contrast(94%);
  }

  /* Text configs */
  h1 {
    @apply text-4xl md:text-5xl font-black;
  }
  h2 {
    @apply text-3xl md:text-4xl font-black;
  }
  h3 {
    @apply text-2xl md:text-3xl font-bold;
  }
  h4 {
    @apply text-xl md:text-2xl font-bold;
  }
  .h4-roman {
    @apply font-medium;
  }
  h5 {
    @apply text-base md:text-xl font-bold;
  }
  .body-bold {
    @apply font-inter text-sm md:text-base font-semibold;
  }
  .body-roman {
    @apply font-inter text-sm md:text-base font-normal;
  }

  /* Home - Header Section */
  .discord-btn {
    @apply bg-discordLight dark:bg-discordDark text-lightText dark:text-darkText;
  }
}
